<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        
    </style>
</head>
<body style="margin-bottom: 2000px;">
    <div id="app">
        <p>v-model的用法：</p>
        <p>input输入框：</p>
        <input type="text" v-model="value" value="88">
        <p>用户输入的内容：{{value}}</p>
        <p>按照我的理解来看，我们可以拿到用户输入的内容，然后把它交给data中的value</p>
        <p>之所以可以把它交给value，那是因为我们用v-model指令在表单类元素上创建双向数据绑定</p>
        <p>所谓的双向数据绑定指的是用户可以通过更新view,来更新data中的数据，从而data的数据又更新了view</p>
        <p>如果把页面和JavaScript代码（内存）分开来看的话，这就像是我们可以直接在页面把值赋给内存中被绑定的变量一样</p>
        <hr>
        <p>多行文本框：</p>
        <textarea name="" id="" cols="30" rows="3" v-model="msg">我是多行文本的初始值</textarea>
        <p>{{msg}}</p>
        <p>你不会看见初始文本的，因为这内容与我们msg绑定了。即msg为空，那么它就为空。input输入框（你添加个value属性即可）也是如此哦</p>
        <p>总之，v-model在input框和textare框中的用法是一模一样的哈！</p>
        <hr>
        <p>单选按钮：</p>
        <p>分情况绑定，如单个单选按钮的使用与其组合使用</p>
        <p>（1）一个单选按钮：直接用v-bind绑定一个布尔值</p>
        <input type="radio" name="" id="" v-bind:checked="oneRadio">
        <p>通过其checked属性的true or false 来动态控制这个按钮是否选中</p>
        <p>当然，这个在平时开发中几乎用不到哈！</p>
        <p>（2）多个单选按钮：需要v-model来配合value使用</p>
        猫蛋：<input type="radio" name="checks" id="" value="猫蛋" v-model="checkname" > <br>
        狗蛋：<input type="radio" name="checks" id="" value="狗蛋" v-model="checkname" > <br>
        翠花：<input type="radio" name="checks" id="" value="翠花" v-model="checkname" > <br>
        现在选中的是：————————{{checkname}} <br>
        <p>为了有互斥效果的，你必须把这3个按钮分到一组去，即它们的name属性都是一样额</p>
        <p>接着你就该使用v-model了，这个指令可以让你拿到已被勾选的按钮的value属性值，然后把这个值赋给v-model绑定的变量</p>
        <p>注意：data中的checkname初始值是空字符串，而不是数组啊！因为我们这是互斥的按钮，我们只是拿一个值就可以了！</p>
        <p>如果你想页面默认就勾选了一个，那么你就给个「猫蛋」或者其它的作为checkname的初始值哈！</p>
        <hr>
        <p>复选框：</p>
        <p>这跟单选框基本类似，也是绑定到布尔值，还有就是复选框的type是checkbox，也可以组合多个复选框</p>
        <p>（1）单个复选框：</p>
        <p>可用v-bind好v-model，而单个单选按钮用了v-model也不生效哈！</p>
        <p>v-bind姿势：</p>
        <input type="checkbox" name="" id="" v-bind:checked="oneCheckbox"> <br>
        <p>v-model姿势：</p>
        <input type="checkbox" name="" id="" v-model='oneCheckbox'> <br>
        <p>PS：对单个单选按钮使用v-model绑定到布尔值</p>
        <input type="radio" name="" id="" v-model="oneRadio"> <br>
        <p>可见，你并不能通过更新oneRadio的true or false来动态地确定这个按钮是否被勾选了哈！</p>
        <p>（2）多个复选框：</p>
        猫蛋：<input type="checkbox" id="" value="猫蛋" v-model="checks" > <br>
        狗蛋：<input type="checkbox" id="" value="狗蛋" v-model="checks" > <br>
        翠花：<input type="checkbox" id="" value="翠花" v-model="checks" >  <br>
        你现在选中的有：————————{{checks}}<br>
        <p>这是复选框，那么name属性就不需要了，即不用把它们分到一组去了</p>
        <p>v-model同多个单选按钮组合使用那样，都是得要配合value来使用的</p>
        <p>一般我们都是用v-model绑定一个数组的，如果绑定的是字符串，那么这个值就会转化为true or false</p>
        <p>与所有绑定的复选框的checked属性相对应，即checks为true那么所有都被选中，这就像是一荣俱荣，一损俱损</p>
        <p>有种要么全选，要么都不选的赶脚！</p>
        <p>似乎不太遵循falsy值哈，因为空数组也是没有被勾选的哈，或许数组是被特殊对待的哈！</p>
    </div>
    <script src = "https://cdn.jsdelivr.net/npm/vue/dist/vue.js" ></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                value: '',
                msg: '',
                oneRadio: true,
                checkname: '',
                oneCheckbox: false,
                checks: [],
            }
        })
    </script>
</body>
</html>