<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        
    </style>
</head>
<body style="margin-bottom: 200px;">
    <div id="app">
        <p>v-model的用法：</p>
        <p>input输入框：</p>
        <input type="text" v-model="value" value="88">
        <p>用户输入的内容：{{value}}</p>
        <p>按照我的理解来看，我们可以拿到用户输入的内容，然后把它交给data中的value</p>
        <p>之所以可以把它交给value，那是因为我们用v-model指令在表单类元素上创建双向数据绑定</p>
        <p>所谓的双向数据绑定指的是用户可以通过更新view,来更新data中的数据，从而data的数据又更新了view</p>
        <p>如果把页面和JavaScript代码（内存）分开来看的话，这就像是我们可以直接在页面把值赋给内存中被绑定的变量一样</p>
        <hr>
        <p>多行文本框：</p>
        <textarea name="" id="" cols="30" rows="3" v-model="msg">我是多行文本的初始值</textarea>
        <p>{{msg}}</p>
        <p>你不会看见初始文本的，因为这内容与我们msg绑定了。即msg为空，那么它就为空。input输入框（你添加个value属性即可）也是如此哦</p>
        <p>总之，v-model在input框和textare框中的用法是一模一样的哈！</p>
        <hr>
        <p>单选按钮：</p>
        <p>分情况绑定，如单个单选按钮的使用与其组合使用</p>
        <p>（1）一个单选按钮：直接用v-bind绑定一个布尔值</p>
        <input type="radio" name="" id="" v-bind:checked="oneRadio">
        <p>通过其checked属性的true or false 来动态控制这个按钮是否选中</p>
        <p>当然，这个在平时开发中几乎用不到哈！</p>
        <p>（2）多个单选按钮：需要v-model来配合value使用</p>
        猫蛋：<input type="radio" name="checks" id="" value="猫蛋" v-model="checkname" > <br>
        狗蛋：<input type="radio" name="checks" id="" value="狗蛋" v-model="checkname" > <br>
        翠花：<input type="radio" name="checks" id="" value="翠花" v-model="checkname" > <br>
        现在选中的是：————————{{checkname}} <br>
        <p>为了有互斥效果的，你必须把这3个按钮分到一组去，即它们的name属性都是一样额</p>
        <p>接着你就该使用v-model了，这个指令可以让你拿到已被勾选的按钮的value属性值，然后把这个值赋给v-model绑定的变量</p>
        <p>注意：data中的checkname初始值是空字符串，而不是数组啊！因为我们这是互斥的按钮，我们只是拿一个值就可以了！</p>
        <p>如果你想页面默认就勾选了一个，那么你就给个「猫蛋」或者其它的作为checkname的初始值哈！</p>
        <hr>
        <p>复选框：</p>
        <p>这跟单选框基本类似，也是绑定到布尔值，还有就是复选框的type是checkbox，也可以组合多个复选框</p>
        <p>（1）单个复选框：</p>
        <p>可用v-bind和v-model，而单个单选按钮用了v-model也不生效哈！</p>
        <p>v-bind姿势：</p>
        <input type="checkbox" name="" id="" v-bind:checked="oneCheckbox"> <br>
        <p>v-model姿势：</p>
        <input type="checkbox" name="" id="" v-model='oneCheckbox'> <br>
        <p>PS：对单个单选按钮使用v-model绑定到布尔值</p>
        <input type="radio" name="" id="" v-model="oneRadio"> <br>
        <p>可见，你并不能通过更新oneRadio的true or false来动态地确定这个按钮是否被勾选了哈！</p>
        <p>（2）多个复选框：</p>
        猫蛋：<input type="checkbox" id="" value="猫蛋" v-model="checks" > <br>
        狗蛋：<input type="checkbox" id="" value="狗蛋" v-model="checks" > <br>
        翠花：<input type="checkbox" id="" value="翠花" v-model="checks" >  <br>
        你现在选中的有：————————{{checks}}<br>
        <p>这是复选框，那么name属性就不需要了，即不用把它们分到一组去了</p>
        <p>v-model同多个单选按钮组合使用那样，都是得要配合value来使用的</p>
        <p>一般我们都是用v-model绑定一个数组的，如果绑定的是字符串，那么这个值就会转化为true or false</p>
        <p>与所有绑定的复选框的checked属性相对应，即checks为true那么所有都被选中，这就像是一荣俱荣，一损俱损</p>
        <p>有种要么全选，要么都不选的赶脚！</p>
        <p>似乎不太遵循falsy值哈，因为空数组也是没有被勾选的哈，或许数组是被特殊对待的哈！</p>
        <hr>
        <p>下拉框：</p>
        <p>也分多选和单选，默认是单选的……</p>
        <p>（1）单选：</p>
        <select name="" id="" v-model="selected">
            <option value="猫蛋">猫蛋</option>
            <option value="狗蛋">狗蛋</option>
            <option value="翠花">翠花</option>
        </select>
        <p>————————现在选中的是：{{selected}}</p>
        <p>selected是个形容词哈！即「挑选出来的」之意</p>
        <p>注意，这个v-model是弄在select身上的哈！毕竟我们要从3个中选一个，总不能每个option都弄个吧……</p>
        <p>还有就是v-model绑定的值是字符串还是数组都行哈！</p>
        <p>（2）多选：</p>
        <select name="" id="" v-model="selectedMul" multiple>
            <option value="猫蛋">猫蛋</option>
            <option value="狗蛋">狗蛋</option>
            <option value="翠花">翠花</option>
        </select>
        <p>————————现在选中的是：{{selectedMul}}</p>
        <p>v-model绑定的值是字符串，还是数组也罢都行，如果是字符串，那么对于下拉框多选来说，都会自动地给你转化为数组姿势</p>
        <p>对了，如果你想多选，那么你得按下Ctrl选才行，当然你也可以按住鼠标拖动哈！</p>
        <hr>
        <p>总结一波：</p>
        <p>如果是单选，那么绑定的值初始化最好给字符串，因为v-model此时绑定的是静态字符串或者布尔值。
            如果是多选，那么最好就给个数组</p>
        <hr>
        <p>绑定值：</p>
        <p>也是分3部分讲的——单选按钮、复选框、下拉框</p>
        <p>（1）单选按钮：</p>
        <input type="radio" name="" id="" v-model="picked" :value="radioValue"><br>
        ————————————————现在挑中的是：{{picked}}
        <p>只需要用v-bind给单个单选框绑定一个value值，此时，v-mode绑定的就是它的value值</p>
        <p>也就是说v-model绑定的值初始化是布尔值，当它为true时，那么v-model的值就是v-bind所绑定的value值咯!</p>
        <p>（2）多选按钮：</p>
        <p>需求：选中的时候是一个值，不选中的时候是另外一个值</p>
        <input type="checkbox" name="" id="" v-model="toggle" :true-value="value1" :false-value="value2">
        <br>
        {{toggle}} <br>
        被选中： {{toggle === value1 }} <br>
        未被选中：{{toggle == value2 }} <br>
        <p>可见，我们可以动态地去控制选中和不选中时，其值结果的动态变化</p>
        <p>还有，v-bind绑定的是2个特性哈，一个是true-value，一个是false-value</p>
        <p>（3）下拉框：</p>
        <p>其实，这个下拉框，也就是选择列表跟哪个复选框（多选按钮）是差不多的</p>
        <p>测试的是单选的下拉框</p>
        <select v-model="selectedValue" :value="xxxValue">
                <!-- 内联对象字面量 -->
            <option v-bind:value="{ number: 123 }">123</option>
            <option v-bind:value="optionValue">二娃</option>
        </select> <br>
        ————————————————现在挑中的是：{{selectedValue}} <br>
        <p>其value值，不一定是字符串，也有可能是个对象</p>
        <p>还有就是：在select标签上绑定value值对option并没有影响，你得弄在option身上才行哈！</p>
        <hr>
        <p>修饰符：</p>
        <p>（1）.lazy</p>
        <input v-model.lazy="msgLazy" >
        输入最终的显示值：{{msgLazy}} <br>
        <p>在“change”时而非“input”时更新，也就是说回车或者不聚焦(可以按下tab键……)在input输入框时，用户输入的数据才会被完整地呈现出来！
            而不是之前的输入什么，就立刻渲染什么！这就是所谓的「lazy」吧！</p>
        <p>总之，v­model默认是在input输入时实时同步输入框的数据，而lazy修饰符，可以使其
            在失去焦点或者敲回车键之后在更新</p>
        <p>（2）.number</p>
        <span>不加.number：</span>
        <input v-model="age" type="number">
        你的年龄：{{age}}
        <br>
        <span>加上.number：</span>
        <input type="number" v-model.number="ageNumber">
        你的年龄：{{ageNumber}}
        <p>它们二者是有区别的，没有.number的修饰符，不管你输入的是什么，age的类型都是String，
            而加了的，ageNumber的类型则是Number（初始值是String类型）
        </p>
        <p>总之，将输入 的字符串转化为number类型</p>
        <p>（3）.trim</p>
        <span>不过滤：</span>
        <input v-model="notTrim">
        结果是：{{notTrim}}
        <br>
        <span>过滤：</span>
        <input v-model.trim="yesTrim">
        结果是：{{yesTrim}}
        <br>
        <p>可见，后者自动过滤用户输入的首尾空白字符，而前者则没有！你可以通过app.notTrim和app.yesTrim去检查效果</p>
        <p>对了，你不要指望可以过滤中间的空白字符</p>
        <p>总之，trim自动过滤输入过程中首尾输入的空格</p>
    </div>
    <script src = "https://cdn.jsdelivr.net/npm/vue/dist/vue.js" ></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                value: '',
                msg: '',
                oneRadio: true,
                checkname: '',
                oneCheckbox: false,
                checks: [],
                selected: '',
                selectedMul: [],
                // 单选按钮：绑定值
                picked: true,
                radioValue: '被选中的孩子',
                radioValue2: '未被选中的孩子',
                // 多选按钮：绑定值
                toggle: true,
                value1: '我被选中了',
                value2: '我没有被选中哈！',
                // 下拉框：绑定值
                selectedValue: true,
                xxxValue: '没影响',
                optionValue: '我是个字符串，你选中了我！',
                // 修饰符
                msgLazy: '',
                age: '',
                ageNumber: '',
                notTrim: '',
                yesTrim: '',
            }
        })
    </script>
</body>
</html>