<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        
    </style>
</head>
<body>
    <div id="app">
        <input type="text" v-model="msg">
        输入的值是：{{msg}}
        <hr>
        苹果：<input type="checkbox" value="苹果" name="" id="" v-model='checks'>
        桃子：<input type="checkbox" value="桃子" name="" id="" v-model='checks'>
        你勾选了：{{checks}}
        <hr>
        默认不勾选：<input type="checkbox" name="" id="" v-model="oneCheck">
    </div>
    <script src = "https://cdn.jsdelivr.net/npm/vue/dist/vue.js" ></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                msg: '',
                checks: [],
                oneCheck: ''
            }
        })
    </script>
</body>
</html>